services:
  animedb:
    build:
      context: .
      args:
        BUILD_SHA: ${BUILD_SHA:-unknown}
    network_mode: host
    volumes:
      - ./data:/data
      - ./downloads:/downloads
      - ./media:/media
    environment:
      - DB_PATH=/data/animedb.sqlite
      - DOWNLOAD_PATH=/downloads
      - MEDIA_PATH=/media
      - OUTPUT_FORMAT=${OUTPUT_FORMAT:-mkv}
      - PLEX_URL=${PLEX_URL:-}
      - PLEX_TOKEN=${PLEX_TOKEN:-}
      - PLEX_SECTION_MOVIES=${PLEX_SECTION_MOVIES:-1}
      - PLEX_SECTION_TV=${PLEX_SECTION_TV:-2}
      - INSTANCE_NAME=${INSTANCE_NAME:-AnimeDB}
      - EXTERNAL_URL=${EXTERNAL_URL:-}
    restart: unless-stopped
